body {
    background-color: #c6e0d9;
}

.container {
    width: 100%;
    max-width: vmax;
    margin-bottom: 50px;
}

.container h3 {
    color: #78c2ad;
    font-weight: bolder;
}

.container h2 {
    color: #78c2ad;
    font-weight: bolder;
}

.container3 .row {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.container3 .row h4 {
    text-align: center;
    font-weight: bolder;
    color: #78c2ad;
}

.dropdown-menu {
    background-color: #343a40;
    border-style: none;
}

.dropdown-item {
    color: white;
}

table {
    margin-top: 2em;
}

#main_text {
    margin-top: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 25px;
}

#comparison {
    margin-top: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 25px;
}

p {
    margin-left: 5px;
}

#side_box {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    background-color: white;
    height: 400px;
    border-radius: 25px;
}

.box a img:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #78c2ad;
}

.target {
    border-style: solid;
    border-width: 2px;
    border-color:#f3969a;
}

@media (max-width: 991px) {
    #side_box {
        height: 350px;
    }

    #main_text {
        margin-top: 50px;
        padding: 30px;
        background-color: white;
    }
    
    #comparison {
        margin-top: 50px;
        padding: 20px;
        background-color: white;
    }
}

@media (max-width: 767px) {
    .box img {
        width: 25%;
    }

    #side_box {
        height: 230px;
    }

    .row {
        margin-bottom: 50px;
    }

    #main_text {
        margin-top: 50px;
        padding: 30px;
        background-color: white;
    }
    
    #comparison {
        margin-top: 50px;
        padding: 30px;
        background-color: white;
    }    
}